.about-panel {
    position: relative;
    top: -20px;
}

.about-panel__main-heading {
    margin-top: 0;
}

.about-panel__description {
    margin: 50px auto 0;
    width: 70%;
    line-height: 40px;
    text-align: initial;
}
