.about-panel {
    position: relative;
    top: -20px;
}

.about-panel__main-heading {
    margin-top: 0;



    @media screen and (max-width: $breakpoint-medium) {
        font-size: 1.45em;
    }

    @media screen and (max-width: $breakpoint-small) {
        margin-top: 25px;
    }
}

.about-panel__description {
    margin: 50px auto 0;
    width: 70%;
    line-height: 40px;
    text-align: initial;

    @media screen and (max-width: $breakpoint-medium) {
        font-size: .95em;
        width: 90%;
    }

    @media screen and (max-width: $breakpoint-small) {
        font-size: .9em;
        width: 97%;
    }
}
