.targetDiv {
    width: 55%;
    margin: 20px auto;
    border: 3px solid blue;
    transition: all .3s;
    opacity: 0;
    transform: translateY(-20px);
}

.targetDiv.active {
    opacity: 1;
    transform: translateY(0);
}
