//general header

.header {
    width: 100%;
    padding: 15px;
    background: rgba(1, 1, 56, .5);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    display: flex;
    flex-flow: row nowrap;
    height: 220px;
    justify-content: space-between;
    align-items: center;
    padding: 10px 35px;

    @media screen and (max-width: $breakpoint-medium) {
        flex-flow: column nowrap;
        justify-content: center;
        height: 375px;
    }

    .header__title-container {
        font-size: 1.6em;
        letter-spacing: 1px;
        color: #fff;
        width: 30%;
        display: flex;
        flex-flow: row nowrap;
        margin-left: 12px;
        min-width: 420px;

        @media screen and (max-width: $breakpoint-medium) {
            width: 100%;
            min-width: 0;
            text-align: center;
            display: flex;
            flex-flow: row nowrap;
            justify-content: center;
            align-items: center;
            margin-bottom: 25px;
            margin-left: 0;
        }
    }

    .header__image-container {
        height: 100%;
        width: 32%;

        @media screen and (max-width: $breakpoint-medium) {
            width: 140px;
        }
    }

    .header__image {
        width: 100%;
        height: 100%;
    }

    .header__title {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        margin-left: 20px;
        font-weight: lighter;

        @media screen and (max-width: $breakpoint-extra-extra-small) {
            display: none;
        }
    }
}

//search bar

.header__search-form {
    width: 100%;
    // background: rgba(1,1,56,.3);
    background: rgba(4, 4, 158, 0.3);
    height: 85px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    padding: 18px 100px;
    justify-content: center;
    position: relative;

    @media screen and (max-width: $breakpoint-medium) {
        padding: 18px 50px;
    }

    @media screen and (max-width: $breakpoint-small-medium) {
        padding: 18px 20px;
    }

    @media screen and (max-width: $breakpoint-small) {
        padding: 20px 20px;
        height: 150px;
        flex-flow: column nowrap;
    }

    .header__search-field {
        height: 100%;
        width: 52%;
        border-bottom-left-radius: 5px;
        border-top-left-radius: 5px;
        border: none;
        padding: 8px;
        font-size: 1.1em;
        color: transparentize($primary-color, .3);
        outline: none;
        background: white;
        transition: all .1s;
        border: 1px solid transparent;
        text-align: center;
        position: relative;
        z-index: 20;
        transition: all .2s;

        &:focus {
            border: 1px solid $secondary-color;
        }

        @media screen and (max-width: $breakpoint-large) {
            width: 70%;
        }

        @media screen and (max-width: $breakpoint-medium) {
            width: 80%;
            font-size: 1em;
        }

        @media screen and (max-width: $breakpoint-small) {
            width: 100%;
            border-radius: 5px;
            margin-bottom: 8px;
            height: auto;
            padding: 13px;
        }
    }

    .invalid-term-warning,
    .invalid-term-no-results {
        width: 250px;
        height: auto;
        padding: 10px;
        background: $secondary-color;
        color: #fff;
        position: absolute;
        top: 50px;
        left: 50%;
        transition: opacity .3s, top .3s;
        opacity: 0;
        border-radius: 4px;
        font-size: .9em;
        text-align: center;
        transform: translateX(-50%);
        z-index: 10;

        @media screen and (max-width: $breakpoint-small) {
            top: 150px;
        }
    }

    .invalid-term-warning::before,
    .invalid-term-no-results::before {
        content: "";
        width: 0;
        height: 0;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 10px solid $secondary-color;
        position: absolute;
        top: -10px;
        left: 50%;
        transform: translateX(-50%);
    }

    .header__search-field.invalid-term + .invalid-term-warning,
    .header__search-field.nothing-found ~ .invalid-term-no-results {
        opacity: 1;
        top: 85px;

        @media screen and (max-width: $breakpoint-small) {
            top: 165px;
        }
    }

    .header__submit-button {
        background: #f94c0c;
        border: none;
        width: 15%;
        height: 100%;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        color: white;
        font-size: 1em;
        min-width: 150px;
        transition: all .2s;
        cursor: pointer;
        outline: none;
        position: relative;

        @media screen and (max-width: $breakpoint-medium) {
            font-size: .9em;
            width: 12%;
            min-width: 155px;
        }

        @media screen and (max-width: $breakpoint-small) {
            width: 100%;
            border-radius: 5px;
        }

        &:hover {
            background: $secondary-color-muted;
        }

        &:focus {
            outline: auto;
        }

        &::before {
            content: "";
            position: absolute;
            background: url("../images/loading-icon.svg");
            background-size: cover;
            background-position: 50%;
            width: 25px;
            height: 25px;
            // left: 110%;
            left: -28%;
            top: 50%;
            z-index: 20;
            transform: translateY(-50%);
            opacity: 0;
            transition: all .4s;

            @media screen and (max-width: $breakpoint-medium) {
                z-index: 20;
                width: 21px;
                height: 21px;
            }

            @media screen and (max-width: $breakpoint-small) {
                left: 6%;
                transform: translateX(-50%);
                top: -100%;
            }

            @media screen and (max-width: $breakpoint-extra-extra-small) {
                width: 20px;
                height: 20px;
            }
        }
    }

    .header__submit-button.loading {
        &::before {
            opacity: 1;
        }
    }
}

//nav items
.header__nav-container {
    width: 36%;
    height: 80%;
    min-width: 450px;

    @media screen and (max-width: $breakpoint-large) {
        min-width: 370px;
    }

    @media screen and (max-width: $breakpoint-medium) {
        width: 100%;
        height: 40%;
    }

    .header__nav-list {
        width: 100%;
        height: 100%;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
        align-items: center;
        margin: 0;
        padding: 15px 0;

        @media screen and (max-width: $breakpoint-extra-extra-small) {
            width: 90%;
            margin: 0 auto;
        }
    }

    .header__nav-item {
        height: 100%;
        text-align: center;
        margin-left: 20px;
        border-radius: 4px;
        transition: all .1s;
        padding: 5px;
        flex-grow: 1;

        @media screen and (max-width: $breakpoint-medium) {
            min-width: 0;
            margin: 8px;
        }

        &.selected {
            background: transparentize($primary-color, .75);
            pointer-events: none;
        }
    }

    .header__nav-item-link {
        height: 100%;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        color: white;
        text-decoration: none;
        transition: all .2s;

        &:hover {
            color: $secondary-color;
        }
    }

    .header__nav-image {
        width: 100%;
        height: 47%;
        margin-bottom: 10px;
    }
}

//placeholder styling

::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: lightgray;
    font-weight: 300;
}
::-moz-placeholder {
    /* Firefox 19+ */
    color: lightgray;
    font-weight: 300;
}
:-ms-input-placeholder {
    /* IE 10+ */
    color: lightgray;
    font-weight: 300;
}
:-moz-placeholder {
    /* Firefox 18- */
    color: lightgray;
    font-weight: 300;
}
