.app-content {
    text-align: center;
    margin: 55px auto 95px;
    width: 100%;
    padding: 20px;
    height: auto;
    min-height: 600px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}

.app-content > div,
.app-content > div > div {
    width: 100%;
    height: auto;
    // height: 100%;
}
