.app-content {
    text-align: center;
    margin: 75px auto 85px;
    width: 100%;
    padding: 20px;
    height: auto;
    min-height: 600px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;

    @media screen and (max-width: $breakpoint-small-medium) {
        margin: 45px auto 55px;
        padding: 15px;
    }
}

.app-content > div,
.app-content > div > div {
    width: 100%;
    height: auto;
    // height: 100%;
}
