.weather-panel {
    // height: 100%;
    height: auto;

    .weather-panel__day-list {
        width: 95%;
        height: 100%;
        // display: flex;
        // flex-flow: row wrap;
        // justify-content: space-around;
        // align-items: center;
        margin: 0 auto;
    }

    .weather-panel__day-list > span {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        align-items: center;
        width: 100%;
    }

    .weather-panel__day {
        text-align: center;
        width: 20%;
        min-width: 300px;
        height: 415px;
        border-radius: 4px;
        background: transparentize($primary-color, .9);
        overflow: hidden;
        // box-shadow: 0 0 20px 1px darkgray;
        font-weight: lighter;
        color: transparentize($primary-color, .3);
        display: flex;
        flex-flow: column nowrap;
        // transition: all .4s;
        transition: all .4s;
        box-shadow: 0 0 10px 0 rgba(128, 128, 128, 0.45) inset;
        padding-top: 5px;
    }

    .weather-panel__day:first-child {
        border: 4px solid transparentize($secondary-color, .2);
        // background: transparentize($primary-color, .85);
        width: 25%;
        height: 450px;
    }

    .weather-panel__day-header {
        margin: 0 auto 20px;
        padding: 35px 0 5px;
    }

    .weather-panel__day-content {
        flex: 1 1 auto;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
    }

    .weather-panel__day-placeholder-text {
        color: transparentize($primary-color, .5);
        font-size: 1em;
        width: 75%;
        margin: 0 auto;

        span {
            color: $secondary-color;
            font-size: 1em;
            font-weight: 400;
        }
    }
}


//weather data styling
.weather-panel__conditions-icon {
    width: 31%;
    padding: 0;
    margin: 0 auto;
}

.weather-panel__conditions-caption {
    margin: 10px auto;
    font-size: 1.3em;
}

.weather-panel__day-content-high,
p.weather-panel__day-content-low,
p.weather-panel__day-content-humidity {
    margin: 0 auto 11px;
}

.weather-panel__day-content-high {
    color: maroon;
}

.weather-panel__day-content-low {
    color: darkblue;
}

.not-displayed {
    display: none;
}


//transition group ctyling
.fade-enter {
    transform: scale(.8);
    opacity: 0;
}

.fade-enter-active {
    opacity: 1;
    transform: scale(1);
}

.fade-leave {
    opacity: 1;
    color: transparentize($primary-color, .3);
    transform: scale(1);
    position: absolute;
}

.fade-leave-active {
    opacity: 0;
    color: transparent;
    transform: scale(.9);
    position: absolute;
}


